@model List<consultaExhortos>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid fondo-exhortos min-vh-100 pb-5" style="padding-top:80px;">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">

            <div class="text-center mt-4 mb-4">
                <h2>SEGUIMIENTO</h2>
            </div>

            <!-- BUSCADOR -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <input class="form-control" id="btnBuscar" type="text" placeholder="Buscar...">
                </div>
            </div>

            <!-- TABLA -->
            <table id="tablaSeguimiento" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Exhorto</th>
                        <th>Expediente</th>
                        <th>Estado</th>
                        <th>Municipio</th>
                        <th>Tua Exhortado</th>
                        <th>Fecha de Acuerdo</th>
                        <th>Fecha de Envío</th>
                        <th>Estatus</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none;">@item.ExhortoId</td>
                            <td>@item.NoExhortoEnviado</td>
                            <td>@item.NoExpediente</td>
                            <td>@item.Estado</td>
                            <td>@item.Municipio</td>
                            <td>@item.tuaDestino</td>
                            <td>@item.FechaAcuerdo</td>
                            <td>@item.FechaEnvio</td>
                            <td>@item.Estatus</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {

            var tabla = $('#tablaSeguimiento').DataTable({
                pageLength: 10,
                lengthChange: false,
                dom: 'rtip',
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.8/i18n/es-ES.json'
                }
            });

            $('#btnBuscar').on('keyup', function () {
                tabla.search(this.value).draw();
            });

        });

    </script>

}