@model AplicacionExhortos.Models.DetalleExhortoModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int pageSize = 5;
    int currentPage = 1;

    if (!string.IsNullOrEmpty(Context.Request.Query["page"]))
    {
        int.TryParse(Context.Request.Query["page"], out currentPage);

        if (currentPage <= 0)
        {
            currentPage = 1;
        }
    }

    var totalItems = Model?.Diligencias?.Count ?? 0;
    var totalPages = (int)Math.Ceiling((double)totalItems / pageSize);

    if (totalPages == 0)
    {
        totalPages = 1;
    }

    var diligenciasPaginadas = Model?.Diligencias?
        .Skip((currentPage - 1) * pageSize)
        .Take(pageSize)
        .ToList() ?? new List<AplicacionExhortos.Models.DiligenciaModel>();
}

<div class="container-fluid fondo-exhortos min-vh-100 pb-5" style="padding-top:80px;">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">


            @if (Model?.Exhorto == null)
            {
                <div class="alert alert-warning text-center">
                    No se encontró información del exhorto.
                </div>
            }
            else
            {
                <div class="card shadow-sm">
                    <div class="card-body">

                        <!-- ===================== -->
                        <!-- DATOS DEL EXHORTO -->
                        <!-- ===================== -->
                        <div class="text-center mb-4">
                            <h4 class="fw-bold">DATOS DEL EXHORTO</h4>
                        </div>

                        <!-- 🔥 FILA CORRECTA -->
                        <div class="row mb-3">

                            <div class="col-md-3">
                                <label class="form-label fw-bold">No. Exhorto Recibido</label>
                                <div class="form-control bg-light">
                                    @Model.Exhorto.NoExhortoRecibido
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label fw-bold">TUA Exhortante</label>
                                <div class="form-control bg-light">@Model.Exhorto.TuaOrigen</div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label fw-bold">No. Exhorto Exhortante</label>
                                <div class="form-control bg-light">@Model.Exhorto.NoExhortoEnviado</div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label fw-bold">Expediente</label>
                                <div class="form-control bg-light">@Model.Exhorto.NoExpediente</div>
                            </div>

                        </div>

                        <!-- RESTO -->
                        <div class="row mb-3">

                            <div class="col-md-3">
                                <label class="form-label fw-bold">Oficio</label>
                                <div class="form-control bg-light">@Model.Exhorto.NoOficio</div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label fw-bold">Estado</label>
                                <div class="form-control bg-light">@Model.Exhorto.Estado</div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label fw-bold">Municipio</label>
                                <div class="form-control bg-light">@Model.Exhorto.Municipio</div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label fw-bold">Poblado</label>
                                <div class="form-control bg-light">@Model.Exhorto.Poblado</div>
                            </div>

                        </div>

                        <div class="row mb-4">

                            <div class="col-md-4">
                                <label class="form-label fw-bold">Fecha de Acuerdo</label>
                                <div class="form-control bg-light">@Model.Exhorto.FechaAcuerdo</div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label fw-bold">Fecha de Audiencia</label>
                                <div class="form-control bg-light">@Model.Exhorto.FechaAudiencia</div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label fw-bold">Fecha de Envío</label>
                                <div class="form-control bg-light">@Model.Exhorto.FechaEnvio</div>
                            </div>

                        </div>

                        <!-- ===================== -->
                        <!-- DILIGENCIAS -->
                        <!-- ===================== -->
                        <div class="text-center mb-3">
                            <h4 class="fw-bold">DILIGENCIAS</h4>
                        </div>

                        <div class="table-responsive mt-2">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-tua">
                                    <tr>
                                        <th>Diligencia</th>
                                        <th>Destinatario</th>
                                        <th>Fecha Diligencia</th>
                                        <th>Estatus</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (diligenciasPaginadas.Any())
                                    {
                                        foreach (var d in diligenciasPaginadas)
                                        {
                                            <tr>
                                                <td>@d.TipoDiligenciaDesc</td>
                                                <td>@d.Destinatario</td>
                                                <td>@(d.FechaDiligencia.HasValue? d.FechaDiligencia.Value.ToString("dd/MM/yyyy") : "")</td>
                                                <td>@d.EstatusDiligencia</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4" class="text-center text-muted">
                                                No hay diligencias registradas.
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- ===================== -->
                        <!-- SEGUIMIENTO -->
                        <!-- ===================== -->

                        <form asp-action="GuardarSeguimiento" asp-controller="SeguimientoExhortos" method="post">

                            <input type="hidden" asp-for="Seguimiento.ExhortoId" />
                            <input type="hidden" asp-for="Seguimiento.FechaAudiencia" />

                            <div asp-validation-summary="ModelOnly" class="alert alert-warning"></div>

                            <div class="text-center mt-5 mb-4">
                                <h4 class="fw-bold">SEGUIMIENTO</h4>
                            </div>

                            <div class="row mb-3">

                                <div class="col-md-4">
                                    <label class="form-label fw-bold">Fecha de Recepción *</label>
                                    <input asp-for="Seguimiento.FechaRecepcion" type="date" class="form-control" />
                                    <span asp-validation-for="Seguimiento.FechaRecepcion" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label fw-bold">No. De Folio *</label>
                                    <input asp-for="Seguimiento.NoFolio" class="form-control text-uppercase" />
                                    <span asp-validation-for="Seguimiento.NoFolio" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label fw-bold">Estatus *</label>
                                    <select asp-for="Seguimiento.Estatus" class="form-control">
                                        <option value="">Seleccione</option>
                                        <option value="TRAMITE">TRAMITE</option>
                                        <option value="DILIGENCIADO">DILIGENCIADO</option>
                                        <option value="PARCIALMENTE ATENDIDO">PARCIALMENTE ATENDIDO</option>
                                    </select>
                                    <span asp-validation-for="Seguimiento.Estatus" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="row mb-3">

                                <div class="col-md-4">
                                    <label class="form-label fw-bold">Fecha Acuerdo TUA Exhortado *</label>
                                    <input asp-for="Seguimiento.FechaAcuerdoTuaExhortado" type="date" class="form-control" />
                                    <span asp-validation-for="Seguimiento.FechaAcuerdoTuaExhortado" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label fw-bold">Fecha Turno Actuaría *</label>
                                    <input asp-for="Seguimiento.FechaTurnoActuaria" type="date" class="form-control" />
                                    <span asp-validation-for="Seguimiento.FechaTurnoActuaria" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label fw-bold">Fecha de Vencimiento</label>
                                    <input asp-for="Seguimiento.FechaDevolucion" type="date" class="form-control" />
                                    <span asp-validation-for="Seguimiento.FechaDevolucion" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label fw-bold">Observaciones</label>
                                    <textarea asp-for="Seguimiento.Observaciones" class="form-control text-uppercase" rows="3"></textarea>
                                    <span asp-validation-for="Seguimiento.Observaciones" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end gap-2">
                                <a asp-controller="SeguimientoExhortos"
                                       asp-action="SeguimientoExhortos"
                                       class="btn btn-secondary">
                                    Regresar
                                </a>

                                <button type="submit" class="btn btn-primary">
                                    Guardar
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            }
        </div>
    </div>
</div>